<app-header-breadcrumb></app-header-breadcrumb>
<p-panel header="Department List">
    <p-table [value]="departments" [scrollable]="true" frozenWidth="100px" selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-department>
            <tr (mouseenter)="onMouseEnter(rowData)" (mouseleave)="onMouseLeave(rowData)" [class.row-hover]="rowData.hover"   >
                <td *ngFor="let col of columns">
                    {{department[col.field]}}
                </td>
                <td>
                  <div style="display: inline">
                    <p-button label="Edit" (click)="goToDepartmentDetails(department.departmentid)"></p-button>
                    <p-button label="Delete"></p-button>
                    <!-- <a (click)="goToDepartmentDetails(department.departmentid)">Edit</a>
                    <a (click)="goToDepartmentDetails(department.departmentid)">Delete</a> -->
                  </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p>{{rowSelect}}</p>
</p-panel>
